@font-face {
    font-family: myFirstFont;
    src: url(Components/Gorehand.otf);
}

*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef ;
}

.zippy{
    font-family: myFirstFont;
    color: darkorange;
    margin: 25px;
    font-size: 40px;
}

.icon-bar{
    background: darkorange;
}

.dec{
    margin: 25px;
}

li a{
    color: black;
    margin-top: 22px;
    margin-left: 20px;
    transition: all 1s;
}

li a:hover{
    transform: scale(1.2);
}

.first{
    margin-top: 90px;
}

.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}

.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10x;
    border-radius: 20px;
}

a.btn-first{
    background-color: darkorange;
    color: white;
}

a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: #333;
}

a.btn:hover{
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info, .banner-img{
    margin: 30px 0;
}

.img-size{
    width: 850px;
    height: 400px;
}

.welcome{
    font-size: 50px;
    color: darkorange;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.para{
    font-size: 30px;
    margin-top: 120px;
    margin-left: 100px;
}

.img2{
    height: 400px;
    margin-left: 25px;
}

.second{
    margin-top: 90px;
}

.img3{
    height: 130px;
    border: white;
    border-radius: 80px;
    margin-left: 20px;
}

.third{
    display: flex;
    justify-content: center;
}

.card-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.carding{
    margin: 0 50px;
}

.fourth{
    margin-top: 20px;
    background-color: darkorange;
    width: 100%;
    height: auto;
    padding: 40px;
}

.back{
    background-color: darkorange;
}

.welcome1{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 35px;
    text-decoration: underline;
}

.fifth{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.welc{
    font-size: 50px;
    color: darkorange;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.welcome2{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.w1{
    color: darkorange;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.w2{
    display: flex;
    justify-content: center;
    font-style: italic;
}

.w3{
    display: flex;
    justify-content: center;
}

.sixth{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    width: 100%;
    height: auto;
}

.card-text{
    display: flex;
    justify-content: center;
}

.texting{
    display: flex;
    justify-content: center;
    color: white;
}

.imaging:hover{
    opacity: 50%;
}

.card-title{
    color: white;
}

.seventh{
    display: flex;
    justify-content: center;
    background-color: darkorange;
    width: 100%;
    height: auto;
}

.eighth{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    color: darkorange;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.wlcm{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
}

form {
    border: 4px solid #f1f1f1;
}

.inside {
    padding: 20px;
    color: black;
}
  
input[type=text], input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
  
input[type=checkbox] {
    margin-top: 16px;
}
  
input[type=submit] {
    background-color: darkorange;
    color:white;
    border: none;
    font-size: 20px;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

.ninth{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: darkorange;
}

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1{
    margin-bottom: 10px;
    color: darkorange;
    text-decoration: underline;
}

.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px ;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder{
    color: #aaa;
}

.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px ;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea::placeholder{
    color: #aaa;
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: darkorange;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.logo{
    color: darkorange;
    transition: all 1s;
}

.logo:hover{
    transform: scale(1.5);
}


.fab{
    padding: 10px;
}
